
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #86ddb4;
  }
  
  th {
    background-color: #e7e1ec;
    text-transform: uppercase;
    font-size: x-large;
  }
  
  tr:hover {
    background-color: #bfe9ec;
  }
  button:hover {
background-color: #bfe9ec;
font-weight: bolder;
  }
  h2 {
    background-color: #e7e1ec;
    text-transform: uppercase; 
  }
 p {
text-align: center;
background-color: rgb(247, 243, 244);
font-weight:500
 }